<nav class="nav" [class.nav--open]="menuOpen">
  <div class="nav__inner">
    <a routerLink="clients" class="nav__brand">WR</a>

    <button class="nav__toggle" (click)="menuOpen = !menuOpen" [attr.aria-expanded]="menuOpen" aria-label="Toggle menu">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul class="nav__links" [class.nav__links--open]="menuOpen">
      <li><a routerLink="clients" routerLinkActive="active" class="nav__link" (click)="scrollToWork()">Work</a></li>
      <li><a routerLink="certifications" routerLinkActive="active" class="nav__link" (click)="closeMenu()">Certifications</a></li>
      <li><a routerLink="about" routerLinkActive="active" class="nav__link" (click)="closeMenu()">About</a></li>
      <li>
        <a href="https://drive.google.com/file/d/1ROmO3zKziky8Pu_7-nMMdzzoIBYoAm02/view?usp=sharing"
           target="_blank" class="nav__link nav__link--resume" (click)="closeMenu()">
          Resume <i class="fas fa-external-link-alt" style="font-size: 0.7em;"></i>
        </a>
      </li>
      <li><a href="mailto:hi@wilsonrivera.com" class="nav__link" (click)="closeMenu()">Contact</a></li>
    </ul>
  </div>
</nav>
