<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo" [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    Option Care Health, Inc. is the largest independent home and alternate site infusion services provider in the United States. With over 6,000 teammates including 2,900 clinicians, we work compassionately to elevate standards of care for patients with acute and chronic conditions in all 50 states.
  </p>

  <section>
    <strong>Project:</strong> Reference Point <br>
    <strong>Description:</strong>maintenance of Reference Point set of projects <br>
    <strong>Role:</strong> Angular Developer <br>
    <strong>Responsabilities:</strong> <br>
    <ul>
      <li>Diagnose technicall issues</li>
      <li>Fix tecnical issues while maintaning the integrity of the apllications</li>
      <li>Progressively improve the applications using <strong>refactoring</strong> & <strong>unit tests</strong> as main techniques</li>
    </ul>

    <strong>Technologies:</strong> Angular 7, CSS, HTML, Typescript, Visual Studio Code
  </section>

</div>
