<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo" [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    Option Care Health, Inc. is the largest independent home and alternate site infusion services provider in the United States. With over 6,000 teammates including 2,900 clinicians, we work compassionately to elevate standards of care for patients with acute and chronic conditions in all 50 states.
  </p>

    <ul>
      <li class="text-info">Besides my project responsibilities I also oversee the OptionCare Account.</li>
    </ul>

  <section>
    <strong>Project:</strong> Reference Point <br>
    <strong>Description:</strong> a set of applications to manage patients and referrals.<br>
    <strong>Role:</strong> Angular Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Diagnose & fix technical issues.</li>
      <li>Deployments (Dev, QA, UAT & Production).</li>
      <li>Assist & Collaborate with fellow Teammates.</li>
      <li>Progressively improve the applications by adding <strong>unit tests</strong> & <strong>refactoring</strong> as main techniques</li>
    </ul>

    <strong>Technologies:</strong> Angular 7, CSS, HTML, Typescript, Karma & Jasmine & Visual Studio Code
  </section>
<br><br>
</div>
