<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo rounded-circle"
        [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    Bio-Rad was founded over six decades ago, we have continued to provide the healthcare industry with innovative and useful products that help life science researchers accelerate the discovery process and medical diagnostic labs obtain faster, better results. Throughout our existence, we have built long-lasting customer relationships that help advance our research and development efforts in the introduction of new products and solutions. Today, Bio-Rad is a global leader, with a team of over 8,000 employees and a global network of operations that serves our life science research and clinical diagnostics customers, helping people live longer, healthier lives.
  </p>

  <section>
    <strong>Project:</strong> Unity Next<br>
    <strong>Description:</strong> This is a migration & orchestration of processes and systems to the cloud and modern technology<br>
    <strong>Role:</strong> Lead Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Lead my team to the successful completion of modules</li>
      <li>Design & Implementation of technical modules</li>
    </ul>

    <strong>Technologies:</strong> C#, Entity Framework, SQL Server, Visual Studios, Visual Studio Code, Azure, Angular, Typescript, D3.js
  </section>

</div>
