<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo" [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    PwC helps organizations and individuals create the value they're looking for. We're a network of firms in 157 countries with more than 276,000 people.

    PwC refers to the PwC network and/or one or more of its member firms, each of which is a separate legal entity.
  </p>

  <section>
    <strong>Project:</strong> Heroku Connector <br>
    <strong>Description:</strong> Build a bridge between AWS & Salesforce leveraging heroku technology.<br>
    <strong>Role:</strong> DevOps <br>
    <strong>Responsabilities:</strong> <br>
    <ul>
      <li>Configure heroku connect & AWS to allow communication between AWS services & Salesforce</li>
    </ul>

    <strong>Technologies:</strong> Heroku Connect, Heroku Postgres, Salesforce, AWS, dotNet Core Web API & C#.
  </section>

</div>
