<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo" [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    PwC is a global professional-services network providing assurance, tax, and consulting in more than 150 countries.
  </p>

  <p>
    I worked with PwC as a consultant placed by <a routerLink="../verys">Verys</a>.
  </p>

  <section>
    <strong>Project:</strong> Heroku Connector <br>
    <strong>Description:</strong> a bridge between AWS microservices & Salesforce.<br>
    <strong>Role:</strong> Full Stack Developer<br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Assist in the formulation of the solution.</li>
      <li>Build front-end application.</li>
      <li>Build microservices that support the application.</li>
    </ul>

    <strong>Technologies:</strong> Heroku Connect, Heroku Postgres, Salesforce, .NET Core Web API & C#.
  </section>

</div>
