<div class="container">
  <div class="logon-container text-center">
    <img
      src="https://raw.githubusercontent.com/wilsonriv/my-files/master/Linkedin%20Picture%20with%20clear%20background.jpg"
      class="rounded-circle" alt="Wilson Rivera">
  </div>
  <p>
    Hi, I’m <strong>Wilson</strong>, <br>
    <br>
    I’m a Software Engineer with over 10 years of experience developing business
    solutions for more than
    for 14 companies during my career.

    <br> <br>

    I have a broad number of skills but recently I have been working mainly with
    Angular & C# to build projects following a Monolithics or Microservice
    architecture.

     <br><br>

    My personality allows me to fit well in teams and my experience sometimes
    grants me the lead position Lead role in many projects. I don’t necessarily
    seek for lead roles, but I embrace them when given to me. I just strive to
    make the team successful.
    After taking the <a href="https://www.16personalities.com/" target="_blank">16Personalities</a> test multiples times for a long period (3
    years) I am convinced that my personality resembles the Logistician type.
    Please click <a href="https://www.16personalities.com/istj-personality" target="_blank">here</a> to know
    more about it.

    <br><br>

    Thank you <br>
    <strong>Wilson Rivera</strong>

  </p>
</div>
