<section class="section">
  <div class="section__inner">
    <h2 class="section-title">Certifications</h2>
    <div class="certs-grid">

      <div class="cert-item">
        <img src="https://learn.microsoft.com/en-us/media/learn/certification/badges/microsoft-certified-associate-badge.svg" alt="Azure AI Engineer Associate">
        <p class="cert-item__label">Azure AI Engineer Associate</p>
      </div>

      <div class="cert-item">
        <img src="https://learn.microsoft.com/en-us/media/learn/certification/badges/microsoft-certified-fundamentals-badge.svg" alt="Azure AI Fundamentals">
        <p class="cert-item__label">Azure AI Fundamentals</p>
      </div>

      <div class="cert-item">
        <img src="https://images.credly.com/size/340x340/images/0e284c3f-5164-4b21-8660-0d84737941bc/image.png" alt="AWS Solutions Architect">
        <p class="cert-item__label">AWS Solutions Architect Associate</p>
      </div>

      <div class="cert-item">
        <img src="https://images.credly.com/size/340x340/images/00634f82-b07f-4bbd-a6bb-53de397fc3a6/image.png" alt="AWS Cloud Practitioner">
        <p class="cert-item__label">AWS Cloud Practitioner</p>
      </div>

      <div class="cert-item">
        <img src="https://images.credly.com/size/340x340/images/f9b74f06-909f-4e63-aa0c-7f70f64ca889/MCSD%2BApp%2BBuilder%2B2017-01.png" alt="MCSD App Builder">
        <p class="cert-item__label">MCSD App Builder</p>
      </div>

      <div class="cert-item">
        <img src="https://images.credly.com/size/340x340/images/421ca115-c03d-403d-893c-da7652bb8619/MCSA%2BWeb%2BApplications-01.png" alt="MCSA Web Applications">
        <p class="cert-item__label">MCSA Web Applications</p>
      </div>

      <div class="cert-item">
        <img src="https://images.credly.com/size/340x340/images/ff9e3554-46b8-474d-8a8c-9285284e6c83/Developing_Microsoft_Azure_and_Web_Services-01.png" alt="Azure Developer">
        <p class="cert-item__label">Azure Developer Associate</p>
      </div>

      <div class="cert-item">
        <img src="https://images.credly.com/size/340x340/images/cbab3216-025d-4601-86ee-c5970b348d48/Developing_ASP.NET_MVC_Web_Applications-01.png" alt="ASP.NET Developer">
        <p class="cert-item__label">ASP.NET Developer</p>
      </div>

      <div class="cert-item">
        <img src="https://images.credly.com/size/340x340/images/84f513e4-256d-4aa0-a29d-973bcb39d87a/Programming_in_HTML5_with_JavaScript_and_Css3-01.png" alt="HTML5 JS CSS3">
        <p class="cert-item__label">HTML5 / JS / CSS3</p>
      </div>

      <div class="cert-item">
        <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-JYW33GII.jpg?v=1522701048000" alt="Angular Udemy">
        <p class="cert-item__label">Angular (Udemy)</p>
      </div>

    </div>
  </div>
</section>
