<div class="jumbotron" style="margin-bottom: 0px;">
  <h1>Wilson Rivera</h1>
  <p>
    Software Engineer
    <a class="icon-padding"
      href="https://www.linkedin.com/in/wilson-rivera-49503465/"
      target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>

    <a class="icon-padding" href="https://github.com/wilsonriv" target="_blank">
      <i class="fab fa-github"></i>
    </a>

    <a class="icon-padding"
      href="https://stackoverflow.com/users/2089460/wilson" target="_blank">
      <i class="fab fa-stack-overflow"></i>
    </a>
  </p>
</div>
