<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo rounded-circle"
        [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    HBR Group is a Dominican consulting firm specializing in software solutions for banks and the financial sector.
  </p>

  <section>
    <strong>Project:</strong> Applications<br>
    <strong>Description:</strong> A collection of several applications I maintained at the time.<br>
    <strong>Role:</strong> Full Stack Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Maintain several applications</li>
    </ul>

    <strong>Technologies:</strong> CSS, HTML, JavaScript, ASP.NET WebForms
  </section>
</div>
