<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo rounded-circle"
        [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    HBR Group es una empresa de profesionales dominicanos en continua formación, especializados en servicios de consultoría y desarrollos verticales o personalizados para la banca y empresas del sector financiero de ámbito nacional e internacional. <br><br>

      Nuestra principal fortaleza es un equipo humano altamente especializado con una gran diversidad y profundidad de conocimientos en el desarrollo de productos bancarios, el cual se adapta al estilo de trabajo de sus diferentes clientes. En adición, un equipo de dirección con una vasta experiencia en la banca, cuya iniciativa empresarial ha sido dirigida exclusivamente al sector financiero-bancario.<br><br>

      Nuestra propuesta a las empresas de dicho entorno le aporta un importante matiz: el uso de nuevas tecnologías y un completo análisis previo, así como nuestro conocimiento de los retos que enfrenta la banca de hoy en día.<br><br>

      Nuestra empresa posee fortalezas en Consultorías, Gestión de Proyectos y Desarrollos de Aplicaciones Verticales. Esto se debe a que contamos con el personal adecuado e identificado con las necesidades de nuestros clientes.<br><br>

      Somos una empresa de servicios, conocedores de las necesidades esenciales de nuestros clientes ya que hemos laborado en diversas instituciones bancarias. Esto nos hace poseedores de experiencia laboral adquirida a través del tiempo por la ejecución de grandes proyectos relacionados al sector que orientamos nuestros productos y servicios.
  </p>

  <section>
    <strong>Project:</strong>	&nbsp;Applications<br>
    <strong>Description:</strong>&nbsp;This is a collection of several applications I was maintaining at the time <br>
    <strong>Role:</strong>&nbsp;FullStack Developer <br>
    <strong>Responsabilities:</strong> <br>
    <ul>
      <li>Maintain several applications</li>
    </ul>

    <strong>Technologies:</strong> CSS, HTML, Javascript, ASP.NET WebForm
  </section>

</div>
