<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="rounded-circle" [alt]="client.name">
    </a>
  </div>

  <br><br>
  <p>
    <a [href]="client.websiteUrl" target="_blank"><strong>{{ client.name }}</strong></a>
    specialties are Software Development, Web Development, Mobile Development,
    Full Stack, UX Design, Cloud Solutions, Native iOS, Native Android,
    Consulting, QA.
  </p>
<ul>
  <li>As part of the interview-committee, I contribute to the company by helping to find the best candidates for the role by interviewing and evaluating prospects.</li>
  <li>Run standups meetings on behave of my manager and report any blockers that could affect the relationship with our clients to be fixed ASAP.</li>
  <li>I mainly find myself <strong>developing SPA applications in Angular and building microservices with C#</strong>.</li>
</ul>

  <p>
    <strong>Clients</strong> – Please click on the below clients’ links for more information about my experience with them
  </p>
  <ul>
    <li><a routerLink="../oc">Option Care</a></li>
    <li><a routerLink="../pwc">PWC</a></li>
    <li><a routerLink="../vertafore">Vertafore</a></li>
  </ul>
</div>
