<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="rounded-circle" [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    Provide end-to-end design and technology web and mobile services utilizing a
    local, onshore delivery model.
    Its specialties are Software Development, Web Development, Mobile
    Development, Full Stack, UX Design, Cloud Solutions, Native iOS, Native
    Android, Consulting, QA.
  </p>

  <p>
    While at <strong>{{ client.name }}</strong> I've had the opportunity to work with
    different clients:
  </p>
  <ul>
    <li><a routerLink="../vertafore">Vertafore</a></li>
    <li><a routerLink="../pwc">PWC</a></li>
    <li><a routerLink="../oc">Option Care</a></li>
  </ul>
</div>
