<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo" [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    Vertafore is the leader in creating modern insurance technology.
    Every day thousands of insurance agencies, carriers and states use a breadth of Vertafore solutions to grow their businesses, process claims for their customers and much more.
  </p>

  <p>
    Project: Custom Audit
    Description: Migrate legacy custom audit system to web technologies.
    Role: Full Stack Developer
    Responsabilities:
      Design & Architect front-end solution.
      Front-End construction.
      Web API Development.
    Technologies: Angular 8 & Web API (C#)
  </p>

</div>
