<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo" [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    Vertafore is the leader in creating modern insurance technology.
    Every day thousands of insurance agencies, carriers and states use a breadth of Vertafore solutions to grow their businesses, process claims for their customers and much more.
  </p>

  <section>
    <strong>Project:</strong> Custom Audit <br>
    <strong>Description:</strong> Migrate legacy <strong>Policy Audit System</strong> to modern technologies. <br>
    <strong>Role:</strong> Full Stack Developer <br>
    <strong>Responsabilities:</strong> <br>
    <ul>
      <li>Design & Architect a SPA solution.</li>
      <li>Front & Back End construction.</li>
      <li>Web API Development.</li>
    </ul>

    <strong>Technologies:</strong> Angular 8, CSS, HTML, Typescript, Mobx, Angular Material, C#, Standard dotNet Web API, Entity Framework, Microservices, SQL Server.
  </section>

</div>
