.fa-linkedin {
  color: #2867B2;
}

.fa-stack-overflow {
  color: #f48024;
}

.fa-github {
  color: black;
}

.icon-padding {
  padding: 9px;
}

.card-img-top {
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

.hbr-group {
  background-color: aqua;
}
