<div class="container-fluid">
  <img src="../assets/avatar.jpg" class="rounded mx-auto d-block avatar" alt="avatar">
  <h4 class="text-center">Open to remote opportunities.</h4>

  <br>

  <div class="row">
    <div class="col-4  offset-3 col-sm-1 offset-sm-5">
      <a href="https://www.linkedin.com/in/wilson-rivera-49503465/" target="_blank">
        <i class="fab fa-linkedin fa-5x"></i>
      </a>
    </div>
    <div class="col-4 col-sm-1">
      <a href="https://github.com/wilsonriv" target="_blank">
        <i class="fab fa-github fa-5x"></i>
      </a>
    </div>
    <div class="col-1 col-sm-1">
      <a href="https://stackoverflow.com/users/2089460/wilson" target="_blank">
        <i class="fab fa-stack-overflow fa-5x"></i>
      </a>
    </div>
  </div>

  <hr>

</div>
