<div class="jumbotron" style="margin-bottom: 0px;">
  <h1>Wilson Rivera</h1>
  <p>
    Software Engineer
    <a class="icon-padding" href="https://www.linkedin.com/in/wilson-rivera-49503465/" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>

    <a class="icon-padding" href="https://github.com/wilsonriv" target="_blank">
      <i class="fab fa-github"></i>
    </a>

    <a class="icon-padding" href="https://stackoverflow.com/users/2089460/wilson" target="_blank">
      <i class="fab fa-stack-overflow"></i>
    </a>
  </p>
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <a class="nav-brand">
    <img class="navbar-brand" src="../assets/logo.png" alt="Logo">
  </a>
  <!-- <span class="navbar-text">Wilson</span> -->

  <ul class="navbar-nav ml-auto">

    <li class="nav-item">
      <a href="https://drive.google.com/file/d/1-ois1CdA_HMyUkYm8dAB-zwVG-NWJmhu/view?usp=sharing" target="_blank" class="nav-link">Resume</a>
    </li>
  </ul>
</nav>


<!-- <div class="container-fluid">
  <img src="../assets/avatar.jpg" class="rounded mx-auto d-block avatar" alt="avatar">
  <h4 class="text-center">Open to remote opportunities.</h4>

  <br>

  <div class="row">
    <div class="col-4  offset-3 col-sm-1 offset-sm-5">
      <a href="https://www.linkedin.com/in/wilson-rivera-49503465/" target="_blank">
        <i class="fab fa-linkedin fa-5x"></i>
      </a>
    </div>
    <div class="col-4 col-sm-1">
      <a href="https://github.com/wilsonriv" target="_blank">
        <i class="fab fa-github fa-5x"></i>
      </a>
    </div>
    <div class="col-1 col-sm-1">
      <a href="https://stackoverflow.com/users/2089460/wilson" target="_blank">
        <i class="fab fa-stack-overflow fa-5x"></i>
      </a>
    </div>
  </div>

  <hr>

  <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

</div> -->
