<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo rounded-circle"
        [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    We provide quality, compassionate health care at more than 40 hospitals and care centers that are serving communities across California, Arizona and Nevada every minute of every day. And while not everyone may live near a major medical facility, Dignity Health is making health care more accessible by bringing resources closer to where people live and work.
  </p>

  <section>
    <strong>Project:</strong> Dignity CMS<br>
    <strong>Description:</strong> Dignity Health Content Management System..<br>
    <strong>Role:</strong> Developer <br>
    <strong>Responsabilities:</strong> <br>
    <ul>
      <li>Create content based on specification</li>
    </ul>

    <strong>Technologies:</strong> CSS, HTML
  </section>

</div>
