<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo rounded-circle"
        [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    Amare Global creates a holistic mental wellness platform that connects a purpose-driven community of passionate people. Our vision is to lead the mental wellness revolution. <br><br>

    Founder and CEO of Amare Global, Hiep Tran, began his entrepreneurial journey at 23 when he decided that medical school was not for him. He started working for a payments processing company.
  </p>

  <section>
    <strong>Project:</strong>	&nbsp;Website<br>
    <strong>Project Url:</strong> <a href="https://www.amare.com/" target="_blank">	&nbsp;Amare Global Website</a> <br>
    <strong>Description:</strong>&nbsp;Company Website.<br>
    <strong>Role:</strong>&nbsp;Developer <br>
    <strong>Responsabilities:</strong> <br>
    <ul>
      <li>Assist making the site responsive.</li>
    </ul>

    <strong>Technologies:</strong> CSS, HTML
  </section>
  <br><br>
  <section>
    <strong>Project:</strong>	&nbsp;BackOffice<br>
    <strong>Description:</strong>&nbsp;<br>
    <strong>Role:</strong>&nbsp; Backend Developer <br>
    <strong>Responsabilities:</strong> <br>
    <ul>
      <li>Assist wrapping up third-party api integration</li>
      <li>Refactoring</li>
    </ul>

    <strong>Technologies:</strong> CSS, HTML
  </section>
</div>
