<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo rounded-circle"
        [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    Amare Global is "The Mental Wellness Company," offering wellness products built around gut-brain axis nutrition.
  </p>

  <p>
    I worked with Amare Global as a consultant placed by <a routerLink="../technossus">Technossus</a>.
  </p>

  <section>
    <strong>Project #1:</strong> <a href="https://www.amare.com/" target="_blank">Amare Global Website</a> <br>
    <strong>Description:</strong> Company website.<br>
    <strong>Role:</strong> Front-End Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Make the site mobile friendly.</li>
    </ul>

    <strong>Technologies:</strong> CSS, HTML, Bootstrap
  </section>

  <br><br>

  <section>
    <strong>Project #2:</strong> BackOffice Application<br>
    <strong>Description:</strong> Communicate with third-party vendors to handle payments &amp; orders.<br>
    <strong>Role:</strong> Full Stack Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Third-party API integration</li>
      <li>Refactoring</li>
    </ul>

    <strong>Technologies:</strong> CSS, HTML, C#, ASP.NET MVC, Ajax, jQuery
  </section>
</div>
