<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo rounded-circle"
        [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    WIND telecom is a Dominican telecommunications provider delivering voice, television, and internet services over IP and wireless networks.
  </p>

  <section>
    <strong>Project:</strong> Field Service<br>
    <strong>Description:</strong> Allows you to track down a technical person and orders completed.<br>
    <strong>Role:</strong> Full Stack Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Feature implementation.</li>
      <li>Application maintenance.</li>
    </ul>

    <strong>Technologies:</strong> ASP.NET WebForms, C#, HTML, CSS, JavaScript, Entity Framework
  </section>

  <br><br>

  <section>
    <strong>Project:</strong> Content Management<br>
    <strong>Description:</strong> Facade application that authorizes access to a service provider.<br>
    <strong>Role:</strong> Full Stack Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Backend development</li>
      <li>Frontend development</li>
    </ul>

    <strong>Technologies:</strong> ASP.NET MVC, Entity Framework, CSS, C#, HTML, Telerik, JavaScript
  </section>

  <br><br>

  <section>
    <strong>Project:</strong> Customer Relationship Management (CRM)<br>
    <strong>Description:</strong> CRM application on an internal web platform built with ASP.NET MVC, covering major business processes for customer management and billing.<br>
    <strong>Role:</strong> Full Stack Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Participate in the design &amp; architecture of the project</li>
      <li>Build backend services</li>
      <li>Build frontend modules</li>
    </ul>

    <strong>Technologies:</strong> ASP.NET MVC, Entity Framework, CSS, C#, HTML, Telerik, JavaScript, UML
  </section>
</div>
