<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo rounded-circle"
        [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    WIND TELECOM, S. A. es una empresa de telecomunicaciones en República
    Dominicana, cuyo enfoque es brindar servicios integrados de Voz, Televisión
    Digital e Internet a nuestros clientes personales, así como servicios
    especializados a empresas, instituciones y a otras prestadores de servicios,
    garantizando calidad, costo y entrega.
    <br> <br>
    Nuestra red de voz y datos es completamente IP; además está basada
    primordialmente en tecnología WiMax, apoyándose también en accesos punto a
    punto por microondas y redes de fibra óptica para el transporte de grandes
    volúmenes de información. Nuestra red de video está basada en MMDS
    (Multichannel Multipoint Distribution System).
    <br> <br>
    Nuestro propósito es ser el proveedor preferido de soluciones de
    conectividad, contenido de información y entretenimiento en los mercados
    personales, empresariales e institucionales, satisfaciendo las expectativas
    de nuestros clientes en calidad, costo y entrega y apoyando de manera
    directa la educación en República Dominicana.
  </p>

  <section>
    <strong>Project:</strong> &nbsp;Field Service<br>
    <strong>Description:</strong>&nbsp;Allows you to track down a technical person and orders completed.<br>
    <strong>Role:</strong>&nbsp;FullStack Developer <br>
    <strong>Responsabilities:</strong> <br>
    <ul>
      <li>Feature implementation.</li>
      <li>Application maintenance.</li>
    </ul>

    <strong>Technologies:</strong> ASP.NET WebForm, C#, HTML, CSS, Javascript, Entity Framework
  </section>
  <br><br>
  <section>
    <strong>Project:</strong> &nbsp;Content Management<br>
    <strong>Description:</strong>&nbsp;Facade Application that authorize access to a service provider.<br>
    <strong>Role:</strong>&nbsp; FullStack Developer <br>
    <strong>Responsabilities:</strong> <br>
    <ul>
      <li>Backend development</li>
      <li>Frontend development</li>
    </ul>

    <strong>Technologies:</strong> ASP.NET MVC, Entity Framework, CSS, C#, HTML, telerik, javascript
  </section>
  <br><br>
  <section>
    <strong>Project:</strong> &nbsp;Customer Relationship Management (CRM)<br>
    <strong>Description:</strong>&nbsp;Build a Customer Relationship Management System from scratch<br>
    <strong>Role:</strong>&nbsp; FullStack Developer <br>
    <strong>Responsabilities:</strong> <br>
    <ul>
      <li>Participate in the designing & architecture of the project</li>
      <li>Build backend services</li>
      <li>Build frontend modules</li>
    </ul>

    <strong>Technologies:</strong> ASP.NET MVC, Entity Framework, CSS, C#, HTML, telerik, javascript, UML
  </section>
</div>
