<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo rounded-circle"
        [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    WIND TELECOM, S. A. is a telecommunications company in the Dominican
    Republic focused on delivering integrated Voice, Digital Television, and
    Internet services to residential customers, as well as specialized services
    to businesses, institutions, and other service providers, guaranteeing
    quality, cost, and delivery.
    <br> <br>
    Its voice and data network is fully IP-based and relies primarily on WiMax
    technology, supported by point-to-point microwave links and fiber-optic
    networks for transporting large volumes of information. Its video network is
    based on MMDS (Multichannel Multipoint Distribution System).
    <br> <br>
    Its purpose is to be the preferred provider of connectivity, information
    content, and entertainment solutions across the residential, business, and
    institutional markets, meeting customer expectations for quality, cost, and
    delivery while directly supporting education in the Dominican Republic.
  </p>

  <section>
    <strong>Project:</strong> &nbsp;Field Service<br>
    <strong>Description:</strong>&nbsp;Allows you to track down a technical person and orders completed.<br>
    <strong>Role:</strong>&nbsp;FullStack Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Feature implementation.</li>
      <li>Application maintenance.</li>
    </ul>

    <strong>Technologies:</strong> ASP.NET WebForm, C#, HTML, CSS, Javascript, Entity Framework
  </section>
  <br><br>
  <section>
    <strong>Project:</strong> &nbsp;Content Management<br>
    <strong>Description:</strong>&nbsp;Facade Application that authorize access to a service provider.<br>
    <strong>Role:</strong>&nbsp; FullStack Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Backend development</li>
      <li>Frontend development</li>
    </ul>

    <strong>Technologies:</strong> ASP.NET MVC, Entity Framework, CSS, C#, HTML, telerik, javascript
  </section>
  <br><br>
  <section>
    <strong>Project:</strong> &nbsp;Customer Relationship Management (CRM)<br>
    <strong>Description:</strong>&nbsp;CRM application on an internal Web platform made with ASP.NET MVC, covering major business processes for customer management and billing.<br>
    <strong>Role:</strong>&nbsp; FullStack Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Participate in the designing & architecture of the project</li>
      <li>Build backend services</li>
      <li>Build frontend modules</li>
    </ul>

    <strong>Technologies:</strong> ASP.NET MVC, Entity Framework, CSS, C#, HTML, telerik, javascript, UML
  </section>
</div>
