<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo rounded-circle"
        [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    Integuer S.R.L. nace en el 2010 como un emprendimíento de su actual Presidente el Ing. Martín José Santos Casado en su retorno al país después de un período profesional y vital de 18 años por Europa, siendo el posicionamiento de la compañía "Software y soluciones para la gestión de empresas". Integuer ha desarrollado diferentes proyectos para destacadas empresas tanto en el sector público como en el sector privado.
  </p>

  <section>
    <strong>Project:</strong>	&nbsp;E PLAN RD<br>
    <strong>Description:</strong>&nbsp;Application that helps Government institutions to forecast the budget needed for the next four years.<br>
    <strong>Role:</strong>&nbsp;FullStack Developer <br>
    <strong>Responsabilities:</strong> <br>
    <ul>
      <li>Undestand requirements</li>
      <li>Backend implementation</li>
      <li>Frontend implementation</li>
      <li>Demos</li>
    </ul>

    <strong>Technologies:</strong> ASP.NET MVC, Linq to Entity, C#, HTML, C#, Telerik, CSS, Visual Studious
  </section>

</div>
