<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo rounded-circle"
        [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    Integuer is a Dominican software company building business-management solutions for public and private clients.
  </p>

  <section>
    <strong>Project:</strong> E PLAN RD<br>
    <strong>Description:</strong> Application that helps government institutions forecast the budget needed for the next four years.<br>
    <strong>Role:</strong> Full Stack Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Understand requirements</li>
      <li>Backend implementation</li>
      <li>Frontend implementation</li>
      <li>Demos</li>
    </ul>

    <strong>Technologies:</strong> ASP.NET MVC, LINQ to Entities, C#, HTML, CSS, Telerik, Visual Studio
  </section>
</div>
