<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo rounded-circle"
        [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    Glidewell Dental is a dental industry leader thanks to its innovative dental technology, resourceful R&D department, and dedication to providing free clinical and technical education to promote dental industry growth. As new advancements continue to redefine dental technology, Glidewell Dental remains dedicated to improved CAD/CAM processes and development. The lab has made great strides in case-to-case consistency using this technology, which allows digital impressions to be sent electronically, reducing costs and improving turnaround time.
  </p>

  <section>
    <strong>Project #1:</strong> Data Migration Tool<br>
    <strong>Description:</strong> This tool read and send data (millions of records) in parallel to a webservice<br>
    <strong>Role:</strong> Backend Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Build Data Migration Tool based on business requirements</li>
    </ul>

    <strong>Technologies:</strong> C#, Entity Framework, SQL Server, Visual Studios, WSDL file
  </section>

  <br><br>

  <section>
    <strong>Project #2:</strong> <a href="http://cloudpoint.com/"> CloudPoint</a><br>
    <strong>Description:</strong> <br>
    <strong>Role:</strong> AngularJs Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Build CloudPoint Front-End Application based on business requirements</li>
    </ul>

    <strong>Technologies:</strong> AngularJS, AWS, WebStorm, Karma, Jasmine
  </section>

  <br><br>

  <section>
    <strong>Project #3:</strong> GOV2<br>
    <strong>Description:</strong> Legacy System that support many business process in the company <br>
    <strong>Role:</strong> Full Stack Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Requirement collection</li>
      <li>Build & Design an Audit Module for Audit Department </li>
      <li>Build & Design an Invoice Module for Shipping Department </li>
      <li>Demos</li>
    </ul>

    <strong>Technologies:</strong> C#, ASP.NET WEBFORMS, Visual Studious, TFS
  </section>

  <br><br>

  <section>
    <strong>Project #4:</strong> Product Mapper<br>
    <strong>Description: </strong>Allow a user to map a set of codes to a product  <br>
    <strong>Role:</strong> Full Stack Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Requirement collection</li>
      <li>Build microservice </li>
      <li>Build UI </li>
      <li>Demos</li>
    </ul>

    <strong>Technologies:</strong> C#, Angular 2, Visual Studio Code, Git, Docker, Microservice, Jenkins
  </section>

  <br><br>

  <section>
    <strong>Project #5:</strong> Audit Application<br>
    <strong>Description:</strong> This tool helps the Audit Department to audit shipments<br>
    <strong>Role:</strong> Full Stack Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Requirements collection</li>
      <li>Build microservices</li>
      <li>Build User Interface</li>
      <li>Demos</li>
    </ul>

    <strong>Technologies:</strong> C#, Angular 2, Visual Studio Code, Git, Docker, Microservice, Jenkins
  </section>

  <br><br>

  <section>
    <strong>Project #6:</strong> Invoice Application<br>
    <strong>Description:</strong> This tool helps the Shipping Department to validate invoices so that the company does not get overcharged. This process was reduced from two days to a couple hours at most.<br>
    <strong>Role:</strong> Full Stack Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Requirement collection</li>
      <li>Build microservices </li>
      <li>Build User Interface </li>
      <li>Demos</li>
    </ul>

    <strong>Technologies:</strong> C#, Angular 2, Visual Studio Code, Git, Docker, Microservice, Jenkins
  </section>

  <br><br>

  <section>
    <strong>Project #7:</strong> Unpacker System<br>
    <strong>Description:</strong>This system helps to speedup the unpacker process reducing manual steps.<br>
    <strong>Role:</strong> Full Stack Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Requirement collection</li>
      <li>Work with UX</li>
      <li>Build & Design the Unpacker System</li>
      <li>Demos</li>
      <li>Test in their environment</li>
    </ul>

    <strong>Technologies:</strong> C#, Angular 2, Visual Studio Code, Git, Docker, Microservice, WPF
  </section>
</div>
