<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo rounded-circle"
        [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    Founded in 1999 by Joni Rogers-Kante, SeneGence International sprung onto
    the direct-selling scene with its premier product, LipSense. This
    long-lasting lip color was a big hit among busy, hard-working women on the
    go. Years later, our product line and global reach continues to expand, as
    we empower individuals to be successful business owners. We started with a
    team of one Distributor, and now, we are a proud family of hundreds of
    thousands.
  </p>

  <section>
    <strong>Project #1:</strong> Authentication Service (Single Sign-ON) <br>
    <strong>Description:</strong> Authentication service with Single Sign-On
    capabilities <br>
    <strong>Role:</strong> Full Stack Developer <br>
    <strong>Responsabilities:</strong> <br>
    <ul>
      <li>Build Single Sign-On Auth Service</li>
    </ul>

    <strong>Technologies:</strong> IdentityServer, C# & Visual Studios
  </section>

  <br><br>

  <section>
    <strong>Project #2:</strong> Existing Applications<br>
    <strong>Description:</strong> Existing applications that manage the business<br>
    <strong>Role:</strong> Full Stack Developer <br>
    <strong>Responsabilities:</strong> <br>
    <ul>
      <li>Maintain these applications/systems</li>
      <li>Introudoce new features</li>
      <li>Bug fixing</li>
    </ul>

    <strong>Technologies:</strong> Angular 4, C#, Visual Studio Code, Visual Studious
  </section>

</div>
