<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo rounded-circle"
        [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    In 2018, Helm Technologies acquired Tega Technologies, which was founded in 2005.  Helm Technologies has rapidly evolved by embracing advanced technology and marketing expertise to form solutions for businesses and organizations that want to communicate more effectively with their customers and members.

    Helm leads the mobile marketing industry in innovation by automating on-demand marketing campaigns based on specific customer and member behaviors and interests for most industry verticals with specific emphasis on retail sales and automotive dealerships.
  </p>

  <section>
    <strong>Project:</strong>	&nbsp;Chatterspot<br>
    <strong>Project Url:</strong> <a href="https://www.chatterspot.com" target="_blank">	&nbsp;Chatterspot</a> <br>
    <strong>Description:</strong>&nbsp;Chatterspot™ is a fully automated end-2-end digital advertising solution.<br>
    <strong>Role:</strong>&nbsp;FullStack Developer <br>
    <strong>Responsabilities:</strong> <br>
    <ul>
      <li>Application Maintenance.</li>
      <li>New Features.</li>
    </ul>

    <strong>Technologies:</strong> ASP.NET WebForm, CSS, Html, Javascript, C#, Visual Studios
  </section>
  <br><br>
  <section>
    <strong>Project:</strong>	&nbsp;NextDeal<br>
    <strong>Description:</strong>&nbsp;<br>
    <strong>Role:</strong>&nbsp; FullStack Developer <br>
    <strong>Responsabilities:</strong> <br>
    <ul>
      <li>Application Maintenance.</li>
      <li>New Features.</li>
    </ul>

    <strong>Technologies:</strong> ASP.NET WebForm, CSS, Html, Javascript, C#, Visual Studios
  </section>
</div>
