<div class="container">
  <div class="logon-container text-center">
    <a [href]="client.websiteUrl" target="_blank">
      <img [src]="client.logoUrl" class="client-logo rounded-circle"
        [alt]="client.name">
    </a>
  </div>

  <h2><a [href]="client.websiteUrl" target="_blank">{{ client.name }}</a></h2>
  <p>
    Tega Technologies is a digital marketing company specializing in automated text and email campaigns for retail.
  </p>

  <section>
    <strong>Project:</strong> Chatterspot<br>
    <strong>Project Url:</strong> <a href="https://www.chatterspot.com" target="_blank">Chatterspot</a> <br>
    <strong>Description:</strong> Chatterspot&trade; is a fully automated end-to-end digital advertising solution.<br>
    <strong>Role:</strong> Full Stack Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Application Maintenance.</li>
      <li>New Features.</li>
    </ul>

    <strong>Technologies:</strong> ASP.NET WebForms, CSS, HTML, JavaScript, C#, Visual Studio
  </section>

  <br><br>

  <section>
    <strong>Project:</strong> NextDeal<br>
    <strong>Description:</strong> A digital marketing application maintained and enhanced for the business.<br>
    <strong>Role:</strong> Full Stack Developer <br>
    <strong>Responsibilities:</strong> <br>
    <ul>
      <li>Application Maintenance.</li>
      <li>New Features.</li>
    </ul>

    <strong>Technologies:</strong> ASP.NET WebForms, CSS, HTML, JavaScript, C#, Visual Studio
  </section>
</div>
