
<div class="card-deck" *ngFor="let group of groupClients">
  <div
    [id]="client.id"
    [ngClass]="{ 'invisible': client.id === 'hidden' }"
    class="card"
    *ngFor="let client of group.clients">
    <div class="text-center">
      <a [href]="client.websiteUrl" target="_blank">
        <img class="card-img-top rounded-circle"
          [ngClass]="{ 'hbrgroup' : client.id === 'hbrgroup' }"
          [src]="client.logoUrl"
          [alt]="client.name">
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title"><a [href]="client.websiteUrl" target="_blank">{{ client.title }}</a></h5>
      <p class="card-text">
        {{ client.description | shorten: 110 }}
      </p>
      <p class="card-text"><small class="text-muted">
          <a [routerLink]="client.id">My experience with {{ client.name }}</a>
        </small></p>
    </div>
  </div>
</div>
