<section class="hero">
  <div class="hero__bg-grid"></div>
  <div class="hero__content">
    <p class="hero__greeting">Hi, I'm</p>
    <h1 class="hero__name">Wilson Rivera</h1>
    <p class="hero__title">Senior Software Engineer</p>
    <p class="hero__stack">Angular &nbsp;&middot;&nbsp; C# &nbsp;&middot;&nbsp; AWS &nbsp;&middot;&nbsp; Microservices</p>
    <div class="hero__links">
      <a href="https://www.linkedin.com/in/wilsonsrivera/" target="_blank" class="hero__icon-link" aria-label="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/wilsonriv" target="_blank" class="hero__icon-link" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://stackoverflow.com/users/2089460/wilson" target="_blank" class="hero__icon-link" aria-label="Stack Overflow">
        <i class="fab fa-stack-overflow"></i>
      </a>
      <a href="mailto:hi@wilsonrivera.com" class="hero__icon-link" aria-label="Email">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
    <div class="hero__cta">
      <a routerLink="about" class="btn-primary">About Me</a>
      <a href="https://drive.google.com/file/d/1ROmO3zKziky8Pu_7-nMMdzzoIBYoAm02/view?usp=sharing" target="_blank" class="btn-outline">View Resume</a>
    </div>
  </div>
  <div class="hero__scroll">
    <span class="hero__scroll-dot"></span>
  </div>
</section>
