<app-jumbotron></app-jumbotron>
<app-header></app-header>

<br>

<div class="card-deck">

  <div class="card">
    <div class="text-center">
      <a href="https://verys.com/" target="_blank">
        <img class="card-img-top rounded-circle"
          src="https://media-exp1.licdn.com/dms/image/C560BAQGHRg2CHTyrZw/company-logo_200_200/0?e=1597276800&v=beta&t=0aMUXTXkw_ciZK7bIvQGCBrpJCPMF-1HyM6ZkfQ4t1I"
          alt="Verys">
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">Verys</h5>
      <p class="card-text">We provide end-to-end design and technology web and
        mobile services utilizing a local, onshore delivery model.</p>
      <p class="card-text"><small class="text-muted">
          <a href="">My experience with Verys</a>
        </small></p>
    </div>
  </div>

  <div class="card">
    <div class="text-center">
      <img class="card-img-top"
        src="https://www.vertafore.com/themes/custom/themekit/logo.svg"
        alt="Vertafore">
    </div>
    <div class="card-body">
      <h5 class="card-title">Vertafore</h5>
      <p class="card-text">This is a wider card with supporting text below as a
        natural lead-in to additional content. This card has even longer content
        than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <div class="text-center">
      <img class="card-img-top"
        src="https://media-exp1.licdn.com/dms/image/C560BAQFR46llmlEDrw/company-logo_200_200/0?e=1597881600&v=beta&t=SL5TW5bFo41EWs6WEWrveSz7jNA5S6QfqtmyhFvJH5k"
        alt="PWC">
    </div>
    <div class="card-body">
      <h5 class="card-title">PWC</h5>
      <p class="card-text">This card has supporting text below as a natural
        lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

</div>

<br>

<div class="card-deck">

  <div class="card">
    <div class="text-center">
      <img class="card-img-top"
        src="https://media-exp1.licdn.com/dms/image/C560BAQESV6Y9cW0XHA/company-logo_200_200/0?e=1597276800&v=beta&t=7IW1jE2teurtEwO6lS-qHUyzNVBIDo0LMkB2fyTrz0Q"
        alt="Senegence">
    </div>
    <div class="card-body">
      <h5 class="card-title">Senegence</h5>
      <p class="card-text">This is a wider card with supporting text below as a
        natural lead-in to additional content. This card has even longer content
        than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <div class="text-center">
      <img class="card-img-top"
        src="https://media-exp1.licdn.com/dms/image/C560BAQFR0gAmfCZMVg/company-logo_200_200/0?e=1597276800&v=beta&t=WPzxBPypEKYpevoaxzzWzio_vmvPfEQFKVoxRB-8kGY"
        alt="Technossus">
    </div>
    <div class="card-body">
      <h5 class="card-title">Technossus</h5>
      <p class="card-text">This card has supporting text below as a natural
        lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <div class="text-center">
      <img class="card-img-top rounded-circle"
        src="https://media-exp1.licdn.com/dms/image/C560BAQEuJ-fK_Ny7pA/company-logo_200_200/0?e=1597276800&v=beta&t=bFCNS-i-TY83f3pE4U6rxr7BLpCa1c2Dd0bZTu7qHJs"
        alt="Glidewell">
    </div>
    <div class="card-body">
      <h5 class="card-title">Glidewell Laboratories</h5>
      <p class="card-text">This is a longer card with supporting text below as a
        natural lead-in to additional content. This content is a little bit
        longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

</div>

<br>

<div class="card-deck">

  <div class="card">
    <div class="text-center">
      <img class="card-img-top"
        src="https://media-exp1.licdn.com/dms/image/C4E0BAQHhlNN99A20IA/company-logo_200_200/0?e=1597276800&v=beta&t=oJ5uuzk7qSZrUnutobotcGDjTDuGJcQzGp0ww1OY-ic"
        alt="Bio-Rad">
    </div>
    <div class="card-body">
      <h5 class="card-title">Bio-Rad Laboratories</h5>
      <p class="card-text">This is a wider card with supporting text below as a
        natural lead-in to additional content. This card has even longer content
        than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <div class="text-center">
      <img class="card-img-top"
        src="https://media-exp1.licdn.com/dms/image/C4E0BAQG1OtNHbC7pBA/company-logo_200_200/0?e=1597276800&v=beta&t=CU5L7cxud2ufFqfbN29WxUjyqlNybviAY8Sa8cyHPr0"
        alt="Dignity Health">
    </div>
    <div class="card-body">
      <h5 class="card-title">Dignity Health</h5>
      <p class="card-text">This card has supporting text below as a natural
        lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <div class="text-center">
      <img class="card-img-top rounded-circle"
        src="https://media-exp1.licdn.com/dms/image/C560BAQE_yxGZvFnXgw/company-logo_200_200/0?e=1597276800&v=beta&t=Q5hBi9EVQ8Srg1_PrzpWgBpenBgFozPZnBtPRb5wL5Y"
        alt="Amare Global">
    </div>
    <div class="card-body">
      <h5 class="card-title">Amare Global</h5>
      <p class="card-text">This is a longer card with supporting text below as a
        natural lead-in to additional content. This content is a little bit
        longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

</div>

<br>

<div class="card-deck">

  <div class="card">
    <div class="text-center">
      <img class="card-img-top"
        src="https://yt3.ggpht.com/a/AATXAJxNau80N6Pua7QgVx9VlwTTRNSmP0wHyBpdTw=s100-c-k-c0xffffffff-no-rj-mo"
        alt="Tega Technologies">
    </div>
    <div class="card-body">
      <h5 class="card-title">Tega Technologies</h5>
      <p class="card-text">This is a wider card with supporting text below as a
        natural lead-in to additional content. This card has even longer content
        than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <div class="text-center">
      <img class="card-img-top"
        src="https://media-exp1.licdn.com/dms/image/C4E0BAQG9zwsi9EYcbQ/company-logo_200_200/0?e=1597276800&v=beta&t=G7aoGzrG9wJTEhI3Qp6qoOYRDzGW2q2z-G3WG4mGyYY"
        alt="WIND telecom">
    </div>
    <div class="card-body">
      <h5 class="card-title">WIND telecom</h5>
      <p class="card-text">This card has supporting text below as a natural
        lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <div class="text-center">
      <img class="card-img-top rounded-circle"
        src="https://www.integuer.do/Content/Imagery/integuer_brand.png"
        alt="Integuer">
    </div>
    <div class="card-body">
      <h5 class="card-title">Integuer</h5>
      <p class="card-text">This is a longer card with supporting text below as a
        natural lead-in to additional content. This content is a little bit
        longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>


</div>

<br>

<div class="card-deck">

  <div class="card">
    <div class="text-center">
      <img class="card-img-top hbr-group"
        src="http://hbrgroup.com.do/images/logo-site.png" alt="HBR Group">
    </div>
    <div class="card-body">
      <h5 class="card-title">HBR Group</h5>
      <p class="card-text">This is a wider card with supporting text below as a
        natural lead-in to additional content. This card has even longer content
        than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card invisible">
    <div class="text-center">
      <img class="card-img-top" style='background: aqua;'
        src="https://media-exp1.licdn.com/dms/image/C4E0BAQG9zwsi9EYcbQ/company-logo_200_200/0?e=1597276800&v=beta&t=G7aoGzrG9wJTEhI3Qp6qoOYRDzGW2q2z-G3WG4mGyYY"
        alt="WIND telecom">
    </div>
    <div class="card-body">
      <h5 class="card-title">WIND telecom</h5>
      <p class="card-text">This card has supporting text below as a natural
        lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card invisible">
    <div class="text-center">
      <img class="card-img-top" style='background: aqua;'
        src="https://media-exp1.licdn.com/dms/image/C4E0BAQG9zwsi9EYcbQ/company-logo_200_200/0?e=1597276800&v=beta&t=G7aoGzrG9wJTEhI3Qp6qoOYRDzGW2q2z-G3WG4mGyYY"
        alt="WIND telecom">
    </div>
    <div class="card-body">
      <h5 class="card-title">WIND telecom</h5>
      <p class="card-text">This card has supporting text below as a natural
        lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

</div>
