<app-jumbotron></app-jumbotron>
<app-header></app-header>

<br>

<div class="card-deck" *ngFor="let group of groupClients">

  <div
    [id]="client.id"
    [ngClass]="{ 'invisible': client.id === 'hidden' }"
    class="card"
    *ngFor="let client of group.clients">
    <div class="text-center">
      <a [href]="client.websiteUrl" target="_blank">
        <img class="card-img-top rounded-circle"
          [ngClass]="{ 'hbr-group' : client.id === 'hbr-group' }"[src]="client.logoUrl"
          [alt]="client.name">
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ client.name }}</h5>
      <p class="card-text">
        {{ client.description | shorten: 110 }}
      </p>
      <p class="card-text"><small class="text-muted">
          <a href="">My experience with Verys</a>
        </small></p>
    </div>
  </div>

</div>
